<!-- logos on the left -->
<div style="float: left;"><a href="https://www.hcmr.gr"><img alt="HCMR logo" src="{{ site.baseurl }}/images/hcmr.png"                 target="_blank" style="border: 0; height:2em;" /></a></div>
<div style="float: left;"><a href="https://www.imbbc.hcmr.gr"><img alt="IMBBC logo" src="{{ site.baseurl }}/images/logo-imbbc.png"    target="_blank" style="border: 0; height:2em;" /></a></div>


<!-- logos on the right -->
<div style="float: right;"><a href="https://www.gsrt.gr"><img alt="GSRT logo" src="{{ site.baseurl }}/images/gsri.png"                target="_blank" style="border: 0; height:2em;"/></a></div>
<div style="float: right;"><a href="https://www.elidek.gr"><img alt="HFRI logo" src="{{ site.baseurl }}/images/hfri.png"              target="_blank" style="border: 0; height:2em;"/></a></div>


<!-- logos on the center -->
<div style="text-align: center;">
    <a href="https://www.ccmri.hcmr.gr"><img alt="CCMRI logo" src="/images/ccmri.png"         target="_blank" style="border: 0; height:2em;"></a>
    <a href="https://prego.hcmr.gr"><img alt="lab42open logo" src="/images/prego_cropped.png" target="_blank" style="border: 0; height: 1.4em;"></a>
</div>

<div style="clear: both;"></div>